<% if @proposals.empty? %>
  <p><%= 'Nenhuma proposta para este imóvel no momento' %></p>
<% else %>
  <% @proposals.each do |proposal| %>
    <p><%= proposal.guest_name %></p>    
  <% end %>
<% end %>